.header {
  width: 100%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.logo {
  width: 3.5rem;
  height: 3.5rem;
}

.loginButton {
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1rem 2rem;
  border-radius: 4px;
  transition: 150ms all ease;
}

.loginButton:hover {
  background-color: #eee;
}

.loginButton:visited {
  color: initial;
}
