.formDiv {
  max-width: 30rem;
  margin: 3rem auto;
}

.registerSection::before {
  display: block;
  content: '';
  background-color: var(--mainColor);
}

.registerSection,
.registerText {
  margin-top: 2rem;
}

.registerSection::before {
  width: 100%;
  height: 1px;
  margin: 0 auto;
}

.registerText {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
