:root {
  --mainColor: rgb(155, 93, 229);
}

@font-face {
  font-family: 'Rubik';
  src: url(./Assets/fonts/Rubik-VariableFont_wght.ttf);
}

*,
body {
  font-family: Rubik, Helvetica, Arial, sans-serif;
}

body {
  /* Header padding */
  padding-top: 6rem;
  z-index: 1;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.translateAnimation {
  opacity: 0;
  transform: translateY(-3rem);
  animation-name: show;
  animation-duration: 175ms;
  animation-fill-mode: forwards;
}

@keyframes show {
  to {
    transform: initial;
    opacity: 1;
  }
}
